:root {
  font-size: $default-text-size;
}

body {
  line-height: 1.5;
  font-size: 1.5rem;
  color: $color-neutral-dark-gray;

  .ff-alata {
    font-family: 'Alata', sans-serif;
  }

  .ff-josefin-sans {
    font-family: 'Josefin Sans', sans-serif;
  }

  .fw-300 {
    font-weight: 300;
  }
  .fw-400 {
    font-weight: 400;
  }
  .fw-500 {
    font-weight: 500;
  }
  .fw-600 {
    font-weight: 600;
  }
  .fw-700 {
    font-weight: 700;
  }

  ////BUTTON

  ////CORE SERVICES

  ////FOOTER

  ////FORM

  ////HEADER

  ////MENU NAV

  ////MODAL

  ////MODAL COMPLETE

  ////PLEDGES

  ////PLEDGE BOX

  ////PLEDGE BOX

  ////PRODUCT

  ////PROJECT STATS
}
