$default-text-size: 62.5%;

// Color Variables

$color-primary-white: hsl(0, 0%, 100%);
$color-primary-black: hsl(0, 0%, 0%);
$color-primary-dark-gray: hsl(0, 0%, 55%);
$color-primary-very-dark-gray: hsl(0, 0%, 41%);

//Background container Variables-Desktop
$main-component-max-width-desktop: 144rem;
$main-component-max-height-desktop: 102.4rem;

//Background container Variables-Mobile
$main-component-max-width-mobile-600px: 55rem;
$main-component-max-width-mobile-375px: 37.5rem;
$main-component-max-width-mobile-285px: 28.5rem;

//Content Variables
$content-max-width-desktop: 92rem;
$content-max-width-mobile: 40rem;

$header-height-desktop: 80rem;
$header-height-mobile: 60rem;

$left-padding: 16.6rem;
$right-padding: 16rem;

//Card Variables Desktop
$card-max-width-desktop: 63.7rem;

//Card Variables Responsive
$card-max-width-responsive-612px: 40rem;

$pic-aspect-ratio-top: 92.5rem / 88.2rem;
$pic-aspect-ratio-bottom: 97.4rem / 78.6rem;

$pic-aspect-ratio-top-mobile: 40.6rem / 33.1rem;
$pic-aspect-ratio-bottom-mobile: 49.8rem / 35.9rem;
